<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<system.webServer>
		<rewrite>
			<rules>
				<rule name="Deny Rule" patternSyntax="Wildcard" stopProcessing="true">
					<match url="www/*" negate="true" />
					<action type="CustomResponse" statusCode="403" statusReason="Forbidden: Access is denied." />
				</rule>
			</rules>
		</rewrite>
	</system.webServer>
</configuration>