extensions:
	rabbit: Kdyby\RabbitMq\DI\RabbitMqExtension
	events: Kdyby\Events\DI\EventsExtension
	redis: Kdyby\Redis\DI\RedisExtension
	doctrine: Kdyby\Doctrine\DI\OrmExtension
	annotations: Kdyby\Annotations\DI\AnnotationsExtension
	translation: Kdyby\Translation\DI\TranslationExtension
	console: Kdyby\Console\DI\ConsoleExtension
	monolog: Kdyby\Monolog\DI\MonologExtension

doctrine:
	user:
	password:
	dbname:

redis:
	journal: on
	storage: on
	session: on

rabbit:
	connection:
		host: localhost
		port: 5672
		user: 'guest'
		password: 'guest'
		vhost: '/'

	producers:
		calculateRandomNumber:
			connection: default
			exchange: {name: 'calculate-random-number', type: direct}

	consumers:
		calculateRandomNumber:
			connection: default
			exchange: {name: 'calculate-random-number', type: direct}
			queue: {name: 'calculate-random-number'}
			callback: [@App\Model\CalculateRandomNumber, calculate]

translation:
	default: cs

parameters:


application:
	errorPresenter: Error
	mapping:
		*: App\*Module\Presenters\*Presenter


session:
	expiration: 14 days


database:
	dsn: 'mysql:host=127.0.0.1;dbname=test'
	user:
	password:
	options:
		lazy: yes


services:
	- App\Model\UserManager
	- App\Forms\FormFactory
	- App\Forms\SignInFormFactory
	- App\Forms\SignUpFormFactory
	router: App\Router\RouterFactory::createRouter

	calculateRandomNumber:
		factory: App\Model\CalculateRandomNumber

	helloCommand:
		factory: App\Model\HelloCommand
		tags:
			- kdyby.console.command