extensions:
	redis: Kdyby\Redis\DI\RedisExtension

redis:
	journal: on
	storage: on
	session: on

parameters:


application:
	errorPresenter: Error
	mapping:
		*: App\*Module\Presenters\*Presenter


session:
	expiration: 14 days


database:
	dsn: 'mysql:host=127.0.0.1;dbname=test'
	user:
	password:
	options:
		lazy: yes


services:
	router: App\Router\RouterFactory::createRouter

	cache:
		factory: Nette\Caching\Cache

	calculateRandomNumber:
		factory: App\Model\CalculateRandomNumber
