{block content}
<h1 n:block=title>Sign In</h1>

{control signInForm}

{* OR
{import '../components/form.latte'}
{include form signInForm}
*}

<p><a n:href="up">Don't have an account yet? Sign up.</a></p>
