{block content}
<h1 n:block=title>Sign In</h1>

{control signInForm}

{* or use {include '../components/form.latte', form => signInForm} *}

<p><a n:href="up">Don't have an account yet? Sign up.</a></p>
