body {
	font: 16px/1.5 Georgia, serif;
	color: #333;
	background-color: #fff;
	margin: 20px auto;
	max-width: 940px;
	min-width: 770px;
}

h1 {
	font: bold 47px/1.5 sans-serif;
	color: #3484D2;
	margin: .6em 0
}

#ajax-spinner {
	margin: 15px 0 0 15px;
	padding: 13px;
	background: white url('../images/spinner.gif') no-repeat 50% 50%;
	font-size: 0;
	z-index: 123456;
	display: none;
}

div.flash {
	color: black;
	background: #FFF9D7;
	border: 1px solid #E2C822;
	padding: 1em;
	margin: 1em 0;
}

a[href^="error:"] {
	background: red;
	color: white;
}
